# Q1

In [631]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [681]:
# health data 

d = [[1,'Yes','Male',160,'High','No'],
     [2,'Yes','Male',260,'Normal','Yes'],
     [3,'No','Female',245,'Normal','No'],
     [4,'No','Male',170,'Normal','No'],
     [5,'Yes','Female',230,'High','Yes'],
     [6,'No','Male',215,'Normal','No'],
     [7,'Yes','Female',240,'Normal','No'],
     [8,'No','Male',235,'High','Yes']]

df = pd.DataFrame(data = np.array(d),
                    columns = ['ID','Family heart attacks','Gender','cholesterol','Blood pressure','Heart attack'])

In [682]:
df

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
0  1                  Yes    Male         160           High           No
1  2                  Yes    Male         260         Normal          Yes
2  3                   No  Female         245         Normal           No
3  4                   No    Male         170         Normal           No
4  5                  Yes  Female         230           High          Yes
5  6                   No    Male         215         Normal           No
6  7                  Yes  Female         240         Normal           No
7  8                   No    Male         235           High          Yes

## a

In [683]:
def entropy_per_attribute(df,attribute,lable,target):
    if df[df[attribute] == lable].groupby(target).count().index[0] == 'No':
        count = df[df[attribute] == lable].groupby(target).count().ID['No']
    else:
        count = 0
    total = df[df[attribute] == lable].groupby(target).count().ID.sum()
    entropy = -(count/total)*np.log2(count/total)-((total-count)/total)*np.log2((total-count)/total)
    return total,entropy

In [684]:
# df,attribute,lable,target = df1,'Gender','Male','Heart attack'
# if df[df[attribute] == lable].groupby(target).count().index[0] == 'No':
#     count = df[df[attribute] == lable].groupby(target).count().ID['No']
# else:
#     count = 0

In [685]:
# General - Entropy of heart attack
df['Heart attack'].value_counts()

No     5
Yes    3
Name: Heart attack, dtype: int64

In [686]:
# Entropy of heart attack
Entropy_HA = -(5/8)*np.log2(5/8) -(3/8)*np.log2(3/8)
Entropy_HA

0.954434002924965

In [687]:
# for 3 binary columns:
cols = ['Family heart attacks','Gender','Blood pressure']

In [688]:
results = []
for i,c in enumerate(cols):
    lables = df[cols[i]].unique()
    for l in lables:
        results.append([c,l,entropy_per_attribute(df,c,l,'Heart attack')])

In [689]:
results

[['Family heart attacks', 'Yes', (4, 1.0)],
 ['Family heart attacks', 'No', (4, 0.8112781244591328)],
 ['Gender', 'Male', (5, 0.9709505944546686)],
 ['Gender', 'Female', (3, 0.9182958340544896)],
 ['Blood pressure', 'High', (3, 0.9182958340544896)],
 ['Blood pressure', 'Normal', (5, 0.7219280948873623)]]

In [690]:
# Gains
display('Family heart attacks:')
Entropy_HA - (results[0][2][0]/8)*results[0][2][1] - (results[1][2][0]/8)*results[1][2][1] #'Family heart attacks'
display('Gender:')
Entropy_HA - (results[2][2][0]/8)*results[2][2][1] - (results[3][2][0]/8)*results[3][2][1] #'Gender'
display('Blood pressure:')
Entropy_HA - (results[4][2][0]/8)*results[4][2][1] - (results[5][2][0]/8)*results[5][2][1] #'Blood pressure'

'Family heart attacks:'

0.048794940695398636

'Gender:'

0.003228943620363578

'Blood pressure:'

0.15886800584993

In [691]:
# for the cholesterol column:
def entropy_per_continues_attribute_bigger(df,attribute,threshold,target):
    if np.shape(df[pd.to_numeric(df[attribute]) > threshold].groupby(target).count())[0] == 0 or np.shape(df[pd.to_numeric(df[attribute]) > threshold].groupby(target).count())[1]==0:
        count = 0
    elif df[pd.to_numeric(df[attribute]) > threshold].groupby(target).count().index[0] == 'No':
        count = df[pd.to_numeric(df[attribute]) > threshold].groupby(target).count().ID['No']
    else:
        count = 0
    total = df[pd.to_numeric(df[attribute]) > threshold].groupby(target).count().ID.sum()
    entropy = -(count/total)*np.log2(count/total)-((total-count)/total)*np.log2((total-count)/total)
    if np.isnan(entropy):
        entropy=0
    return total,entropy

def entropy_per_continues_attribute_smaller(df,attribute,threshold,target):
    if np.shape(df[pd.to_numeric(df[attribute]) <= threshold].groupby(target).count())[0] == 0 or np.shape(df[pd.to_numeric(df[attribute]) <= threshold].groupby(target).count())[1]==0:
        count = 0
    elif df[pd.to_numeric(df[attribute]) <= threshold].groupby(target).count().index[0] == 'No':
        count = df[pd.to_numeric(df[attribute]) <= threshold].groupby(target).count().ID['No']
    else:
        count = 0
    total = df[pd.to_numeric(df[attribute]) <= threshold].groupby(target).count().ID.sum()
    entropy = -(count/total)*np.log2(count/total)-((total-count)/total)*np.log2((total-count)/total)
    if np.isnan(entropy):
        entropy=0
    return total,entropy

In [692]:
threshold_values = [160,170,260,230,215,240,235,245]

In [693]:
results_cholesterol = []
for thr in threshold_values:
    results_cholesterol.append(['bigger',thr,entropy_per_continues_attribute_bigger(df,'cholesterol',thr,'Heart attack')])
    results_cholesterol.append(['smaller',thr,entropy_per_continues_attribute_smaller(df,'cholesterol',thr,'Heart attack')])

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:23: RuntimeWarning: divide by zero encountered in log2
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in double_scalars
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in long_scalars
  # Remove the CWD from sys.path while we load stuff.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:10: RuntimeWarning: divide by zero encountered in log2
  # Remove the CWD from sys.path while we load stuff.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in double_scalars
  # Remove the CWD from sys.path while we load stuff.

In [694]:
results_cholesterol

[['bigger', 160, (7, 0.9852281360342515)],
 ['smaller', 160, (1, 0)],
 ['bigger', 170, (6, 1.0)],
 ['smaller', 170, (2, 0)],
 ['bigger', 260, (0, 0)],
 ['smaller', 260, (8, 0.954434002924965)],
 ['bigger', 230, (4, 1.0)],
 ['smaller', 230, (4, 0.8112781244591328)],
 ['bigger', 215, (5, 0.9709505944546686)],
 ['smaller', 215, (3, 0)],
 ['bigger', 240, (2, 1.0)],
 ['smaller', 240, (6, 0.9182958340544896)],
 ['bigger', 235, (3, 0.9182958340544896)],
 ['smaller', 235, (5, 0.9709505944546686)],
 ['bigger', 245, (1, 0)],
 ['smaller', 245, (7, 0.863120568566631)]]

In [696]:
# Gains
'160:'
Entropy_HA - (results_cholesterol[0][2][0]/8)*results_cholesterol[0][2][1] - (results_cholesterol[1][2][0]/8)*results_cholesterol[1][2][1] #160
'170:'
Entropy_HA - (results_cholesterol[2][2][0]/8)*results_cholesterol[2][2][1] - (results_cholesterol[3][2][0]/8)*results_cholesterol[3][2][1] #170
'260:'
Entropy_HA - (results_cholesterol[4][2][0]/8)*results_cholesterol[4][2][1] - (results_cholesterol[5][2][0]/8)*results_cholesterol[5][2][1] #260
'230:'
Entropy_HA - (results_cholesterol[6][2][0]/8)*results_cholesterol[6][2][1] - (results_cholesterol[7][2][0]/8)*results_cholesterol[7][2][1] #230
'215:'
Entropy_HA - (results_cholesterol[8][2][0]/8)*results_cholesterol[8][2][1] - (results_cholesterol[9][2][0]/8)*results_cholesterol[9][2][1] #215
'240:'
Entropy_HA - (results_cholesterol[10][2][0]/8)*results_cholesterol[10][2][1] - (results_cholesterol[11][2][0]/8)*results_cholesterol[11][2][1] #240
'235:'
Entropy_HA - (results_cholesterol[12][2][0]/8)*results_cholesterol[12][2][1] - (results_cholesterol[13][2][0]/8)*results_cholesterol[13][2][1] #235
'245:'
Entropy_HA - (results_cholesterol[14][2][0]/8)*results_cholesterol[14][2][1] - (results_cholesterol[15][2][0]/8)*results_cholesterol[15][2][1] #245

'160:'

0.09235938389499498

'170:'

0.20443400292496505

'260:'

0.0

'230:'

0.048794940695398636

'215:'

0.34758988139079716

'240:'

0.015712127384097885

'235:'

0.0032289436203635224

'245:'

0.19920350542916287

In [653]:
# CONCLUSION - FROM THE ABOVE CALCULATION, THE THRESHOLD OF CHOLESTEROL ABOVE/BELOW 215 IS THE ROOT OF THE TREE

In [697]:
df1 = df[pd.to_numeric(df['cholesterol']) > 215]

In [698]:
# General - Entropy of heart attack
df1['Heart attack'].value_counts()

Yes    3
No     2
Name: Heart attack, dtype: int64

In [699]:
# Entropy of heart attack
Entropy_HA_cholesterol_above_215 = -(3/5)*np.log2(3/5) -(2/5)*np.log2(2/5)
Entropy_HA_cholesterol_above_215

0.9709505944546686

In [700]:
# for 3 binary columns:
cols = ['Family heart attacks','Gender','Blood pressure']

In [718]:
results = []
for i,c in enumerate(cols):
    lables = df1[cols[i]].unique()
    for l in lables:
        k,r = entropy_per_attribute(df1,c,l,'Heart attack')
        if np.isnan(r):
            r=0
        results.append([c,l,(k,r)])

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:7: RuntimeWarning: divide by zero encountered in log2
  import sys
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in double_scalars
  import sys

In [719]:
results

[['Family heart attacks', 'Yes', (3, 0.9182958340544896)],
 ['Family heart attacks', 'No', (2, 1.0)],
 ['Gender', 'Male', (2, 0)],
 ['Gender', 'Female', (3, 0.9182958340544896)],
 ['Blood pressure', 'Normal', (3, 0.9182958340544896)],
 ['Blood pressure', 'High', (2, 0)]]

In [720]:
# Gains
Entropy_HA - (results[0][2][0]/8)*results[0][2][1] - (results[1][2][0]/8)*results[1][2][1] #'Family heart attacks'
Entropy_HA - (results[2][2][0]/8)*results[2][2][1] - (results[3][2][0]/8)*results[3][2][1] #'Gender'
Entropy_HA - (results[4][2][0]/8)*results[4][2][1] - (results[5][2][0]/8)*results[5][2][1] #'Blood pressure'

0.3600730651545314

0.6100730651545314

0.6100730651545314

In [ ]:
# CONCLUSION: WE CAN EITHER SPLIT NOW BY GENDER OR BY BLOOD PRESSURE. IF WE TRY BOTH WE CAN

In [346]:
df[df['Family heart attacks'] == 'Yes']

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
0  1                  Yes    Male         160           High           No
1  2                  Yes    Male         260         Normal          Yes
4  5                  Yes  Female         230           High          Yes
6  7                  Yes  Female         240         Normal           No

In [347]:
Entropy_HA_family_yes = -(2/4)*np.log2(2/4) -(2/4)*np.log2(2/4)
Entropy_HA_family_yes

1.0

In [199]:
df[df['Family heart attacks'] == 'No']

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
2  3                   No  Female         245         Normal           No
3  4                   No    Male         170         Normal           No
5  6                   No    Male         215         Normal           No
7  8                   No    Male         235           High          Yes

In [200]:
Entropy_HA_family_no = -(1/4)*np.log2(1/4) -(3/4)*np.log2(3/4)
Entropy_HA_family_no

0.8112781244591328

In [201]:
# Gain of splitting by attribute 1 - 'family heart attacks'
G1 = Entropy_HA - (4/8)*Entropy_HA_family_yes - (4/8)*Entropy_HA_family_no 
G1

0.048794940695398636

In [202]:
# attribute 2 - 'Gender' - female, male

In [203]:
df[df['Gender'] == 'Female']

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
2  3                   No  Female         245         Normal           No
4  5                  Yes  Female         230           High          Yes
6  7                  Yes  Female         240         Normal           No

In [204]:
Entropy_HA_gender_female = -(2/3)*np.log2(2/3) -(1/3)*np.log2(1/3)
Entropy_HA_gender_female

0.9182958340544896

In [205]:
df[df['Gender'] == 'Male']

  ID Family heart attacks Gender cholesterol Blood pressure Heart attack
0  1                  Yes   Male         160           High           No
1  2                  Yes   Male         260         Normal          Yes
3  4                   No   Male         170         Normal           No
5  6                   No   Male         215         Normal           No
7  8                   No   Male         235           High          Yes

In [206]:
Entropy_HA_gender_male = -(2/5)*np.log2(2/5) -(3/5)*np.log2(3/5)
Entropy_HA_gender_male

0.9709505944546686

In [207]:
# Gain of splitting by attribute 2 - 'gender'
G2 = Entropy_HA - (3/8)*Entropy_HA_gender_female - (5/8)*Entropy_HA_gender_male 
G2

0.0032289436203635224

In [126]:
# attribute 3 - 'cholesterol' - some threshold
t = pd.to_numeric(df.cholesterol)
t

0    160
1    260
2    245
3    170
4    230
5    215
6    240
7    235
Name: cholesterol, dtype: int64

In [214]:
df[pd.to_numeric(df['cholesterol']) > 215] #.groupby('Heart attack').count()

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
1  2                  Yes    Male         260         Normal          Yes
2  3                   No  Female         245         Normal           No
4  5                  Yes  Female         230           High          Yes
6  7                  Yes  Female         240         Normal           No
7  8                   No    Male         235           High          Yes

In [186]:
Entropy_HA_cholesterol_above = -(1/2)*np.log2(1/2) -(1/2)*np.log2(1/2)
Entropy_HA_cholesterol_above

1.0

In [215]:
df[pd.to_numeric(df['cholesterol']) <= 215]

  ID Family heart attacks Gender cholesterol Blood pressure Heart attack
0  1                  Yes   Male         160           High           No
3  4                   No   Male         170         Normal           No
5  6                   No   Male         215         Normal           No

In [188]:
Entropy_HA_cholesterol_below =  -(4/6)*np.log2(4/6) -(2/6)*np.log2(2/6)
Entropy_HA_cholesterol_below

0.9182958340544896

In [190]:
G3_240 = Entropy_HA - (2/8)*Entropy_HA_cholesterol_above - (6/8)*Entropy_HA_cholesterol_below 
G3_240

0.015712127384097885

In [149]:
G3_160

0.09235938389499498

In [143]:
G3_170

0.20443400292496505

In [155]:
G3_215 # max

0.34758988139079716

In [161]:
G3_230

0.048794940695398636

In [168]:
G3_235

0.0032289436203635224

In [191]:
G3_240

0.015712127384097885

In [193]:
G3_245

0.19920350542916287

In [180]:
# G3_260

In [208]:
# attribute 4 - 'Blood pressure'  - high,normal
df[df['Blood pressure'] == 'High']

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
0  1                  Yes    Male         160           High           No
4  5                  Yes  Female         230           High          Yes
7  8                   No    Male         235           High          Yes

In [209]:
Entropy_HA_BP_high = -(1/3)*np.log2(1/3) -(2/3)*np.log2(2/3)
Entropy_HA_BP_high

0.9182958340544896

In [210]:
df[df['Blood pressure'] == 'Normal']

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
1  2                  Yes    Male         260         Normal          Yes
2  3                   No  Female         245         Normal           No
3  4                   No    Male         170         Normal           No
5  6                   No    Male         215         Normal           No
6  7                  Yes  Female         240         Normal           No

In [211]:
Entropy_HA_BP_normal = -(4/5)*np.log2(4/5) -(1/5)*np.log2(1/5)
Entropy_HA_BP_normal

0.7219280948873623

In [212]:
# Gain of splitting by attribute 4 - 'Blood pressure'
G4 = Entropy_HA - (3/8)*Entropy_HA_BP_high - (5/8)*Entropy_HA_BP_normal 
G4

0.15886800584993

In [213]:
G1,G2,G3_215,G4

(0.048794940695398636,
 0.0032289436203635224,
 0.34758988139079716,
 0.15886800584993)

In [ ]:
# CONCLUSION: G3_215 is the root of the tree.

In [218]:
df1 = df[pd.to_numeric(df['cholesterol']) > 215]

In [219]:
df1

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
1  2                  Yes    Male         260         Normal          Yes
2  3                   No  Female         245         Normal           No
4  5                  Yes  Female         230           High          Yes
6  7                  Yes  Female         240         Normal           No
7  8                   No    Male         235           High          Yes

In [222]:
Entropy_HA_high_cholesterol =  -(3/5)*np.log2(3/5) -(2/5)*np.log2(2/5)
Entropy_HA_high_cholesterol

0.9709505944546686

In [196]:
# attribute 1 - 'family heart attacks' - yes,no

In [223]:
df1[df1['Family heart attacks'] == 'Yes']

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
1  2                  Yes    Male         260         Normal          Yes
4  5                  Yes  Female         230           High          Yes
6  7                  Yes  Female         240         Normal           No

In [224]:
Entropy_HA_high_cholesterol_family_yes = -(2/3)*np.log2(2/3) -(1/3)*np.log2(1/3)
Entropy_HA_high_cholesterol_family_yes

0.9182958340544896

In [225]:
df1[df1['Family heart attacks'] == 'No']

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
2  3                   No  Female         245         Normal           No
7  8                   No    Male         235           High          Yes

In [227]:
Entropy_HA_high_cholesterol_family_no = -(1/2)*np.log2(1/2) -(1/2)*np.log2(1/2)
Entropy_HA_high_cholesterol_family_no

1.0

In [228]:
# Gain of splitting by attribute 1 - 'family heart attacks'
G1_1 = Entropy_HA_high_cholesterol - (3/5)*Entropy_HA_high_cholesterol_family_yes - (2/5)*Entropy_HA_high_cholesterol_family_no 
G1_1

0.01997309402197489

In [202]:
# attribute 2 - 'Gender' - female, male

In [229]:
df1[df1['Gender'] == 'Female']

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
2  3                   No  Female         245         Normal           No
4  5                  Yes  Female         230           High          Yes
6  7                  Yes  Female         240         Normal           No

In [230]:
Entropy_HA_high_cholesterol_gender_female = -(2/3)*np.log2(2/3) -(1/3)*np.log2(1/3)
Entropy_HA_high_cholesterol_gender_female

0.9182958340544896

In [231]:
df1[df1['Gender'] == 'Male']

  ID Family heart attacks Gender cholesterol Blood pressure Heart attack
1  2                  Yes   Male         260         Normal          Yes
7  8                   No   Male         235           High          Yes

In [232]:
Entropy_HA_high_cholesterol_gender_male = 0
Entropy_HA_high_cholesterol_gender_male

0

In [234]:
# Gain of splitting by attribute 2 - 'gender'
G2_1 = Entropy_HA_high_cholesterol - (3/5)*Entropy_HA_high_cholesterol_gender_female - (2/5)*Entropy_HA_high_cholesterol_gender_male 
G2_1

0.4199730940219749

In [235]:
# attribute 4 - 'Blood pressure'  - high,normal
df1[df1['Blood pressure'] == 'High']

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
4  5                  Yes  Female         230           High          Yes
7  8                   No    Male         235           High          Yes

In [236]:
Entropy_HA_high_cholesterol_BP_high = 0
Entropy_HA_high_cholesterol_BP_high

0

In [237]:
df1[df1['Blood pressure'] == 'Normal']

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
1  2                  Yes    Male         260         Normal          Yes
2  3                   No  Female         245         Normal           No
6  7                  Yes  Female         240         Normal           No

In [238]:
Entropy_HA_high_cholesterol_BP_normal = -(1/3)*np.log2(1/3) -(2/3)*np.log2(2/3)
Entropy_HA_high_cholesterol_BP_normal

0.9182958340544896

In [239]:
# Gain of splitting by attribute 4 - 'Blood pressure'
G4_1 = Entropy_HA_high_cholesterol - (2/5)*Entropy_HA_high_cholesterol_BP_high - (3/5)*Entropy_HA_high_cholesterol_BP_normal 
G4_1

0.4199730940219749

In [240]:
G1_1,G2_1,G4_1

(0.01997309402197489, 0.4199730940219749, 0.4199730940219749)

In [257]:
# CONCLUSION: the next branch could be either G2_1(GENDER) or G4_1(Blood pressure).
# we should try both and choose the one where I get maximum gain in the next split. 

# try 1 - GENDER
df2 = df1[df1.Gender == 'Female']
df2

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
2  3                   No  Female         245         Normal           No
4  5                  Yes  Female         230           High          Yes
6  7                  Yes  Female         240         Normal           No

In [256]:
Entropy_HA_high_cholesterol_Female =  -(2/3)*np.log2(2/3) -(1/3)*np.log2(1/3)
Entropy_HA_high_cholesterol_Female

0.9182958340544896

In [267]:
# try 2 - BLOOD PRESSURE
df2 = df1[df1['Blood pressure'] == 'Normal']
df2

  ID Family heart attacks  Gender cholesterol Blood pressure Heart attack
1  2                  Yes    Male         260         Normal          Yes
2  3                   No  Female         245         Normal           No
6  7                  Yes  Female         240         Normal           No

In [268]:
Entropy_HA_high_cholesterol_normal =  -(2/3)*np.log2(2/3) -(1/3)*np.log2(1/3)
Entropy_HA_high_cholesterol_normal

0.9182958340544896

In [ ]:
# CONCLUSION: we can see that both options will give the same gain eventually, 
# since one more split will give "perfect" classification and the gain will remain the same.

## b

In [ ]:
# The whole thing again with gini

In [302]:
# # try blood pressure now
# df2[df2['Blood pressure'] == 'High']

In [303]:
# Entropy_HA_high_cholesterol_Female_BP_high = 0
# Entropy_HA_high_cholesterol_Female_BP_high

In [304]:
# df2[df2['Blood pressure'] == 'Normal']

In [305]:
# Entropy_HA_high_cholesterol_Female_BP_normal = 0
# Entropy_HA_high_cholesterol_Female_BP_normal

In [306]:
# # try 2 - BLOOD PRESSURE
# df2 = df1[df1['Blood pressure'] == 'Normal']
# df2

In [307]:
# Entropy_HA_high_cholesterol_normal =  -(2/3)*np.log2(2/3) -(1/3)*np.log2(1/3)
# Entropy_HA_high_cholesterol_normal

In [310]:
# try do it with sklearn functions

In [288]:
# df[df['Family heart attacks']=='Yes'] = 1
# df[df['Family heart attacks']=='No'] = 0

# df[df['Gender']=='Female'] = 1
# df[df['Gender']=='Male'] = 0

# df[df['Blood pressure']=='High'] = 1
# df[df['Blood pressure']=='Normal'] = 0

# df[df['Heart attacks']=='Yes'] = 1
# df[df['Heart attacks']=='No'] = 0

In [300]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz, ExtraTreeClassifier
dt = DecisionTreeClassifier(criterion='entropy')
dt.fit(np.transpose([df['Family heart attacks'].values,df['Gender'].values,df['cholesterol'].values,df['Blood pressure'].values]),df['Heart attack'].values)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [301]:
export_graphviz(dt,'dt.tree')